<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="testComponents.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/juhikohale/Downloads/FrameworkFromScratch">
        <classes>
            <class name="org.ErrorValidationTest">
                <methods>
                    <include name="LoginErrorValidationTest"/>
                    <include name="productErrorValidation"/>
                </methods>
            </class>
            <class name="org.submitOrderTest">
                <methods>
                    <include name="submitProductOrder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>